<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Slevomat Code Sample</title>
</head>
<body>
    <div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
    {include content}
</body>
</html>
